
/* Core colours used */
:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

/* Container for body of all pages */
 .container {
   height: 100vh;
   background-color: #C0C0C0;
 }


 /* Header styling */
 .header {
  height: 15vh;
  background-color: #232528;
}
/* End of header styling */


/* All navbar related styling */
.navbar {
  padding: 2%;
}

.navbar-logo {
  height: 80px;
  width: 100px;
  float: left;
}

.navbar-item {
float: left;
}

.navbar-link{
  padding-left: 20px;
  padding-right: 20px;
  color: var(--mainWhite)!important;
  font-size: 1.3rem;
  float: right;
}

.navbar ul li {
  float: right;
}

.dropdown ul li {
  display: block;
}
/* End of navbar related styling */



/* Body styling */

body{
  font-family: "sans-serif";
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

/* End of body styling */


/* All footer related styling */
.footer {
  height: 15vh;
  background-color: #232528;
}

.creditLink {
  color: #ffa400;
}
/* End of footer related styling */


/* Titles */
.text-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
}

.text-blue {
  color: var(--mainBlue);
}
/* End of titles */


/* Home page */
.featureImage {
  width: 100%;
  height: auto;
 }

 .tempSearchBar {
   margin: 0 auto;
   display: block;
 }

.websitePurposeText {
  position: absolute;
  top: 45%;
  left: 43%;
  color: red;
}

.callToAction {
  position: absolute;
  bottom: 40%;
  left: 45%;
}

 .grid {
   display: grid;
   height: 500px;
   width: 100%;
   grid-template:  50% 50% 50% / 16% 16% 16% ;
   grid-gap: 10%;
   padding-left: 15%;
   padding-right: 10%;
   padding-bottom: 10%;
 }

 .promotionItem {
  border: solid 1px var(--mainYellow);
 }
/* End of home page */


/* Browse music page */
 .listColumn {
   width: 20%;
   background-color: #36393f;
   float: left;
   color: var(--mainWhite);
   text-align: center;
   height: 100%;
 }

 .contentColumn {
  width: 80%;
  text-align: center;
  float: right;
  background-color: var(--mainWhite);
 }
 /* End of browse music page */


/* Upload music page */
.uploadItem {
  border: solid 1px var(--mainYellow);
  width: 800px;
}
/* End of upload music page */


/* Login page */
.loginContainer {
  height: 70vh;
  background-color: #54585f;
  padding: 4%;
}

.loginPage { 
  height: 40vh;
  text-align: center;
  padding-top: 3.5%;
  width: 30%;
  margin: 3% auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;

}

.loginForm {
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 5%;
}
/* End of login page */

/* SignUp Page */
.signUpContainer {
  background-color: #54585f;
  padding: 4%;
}

.signUpForm {
  width: 80%;
  margin: 3% auto;
  height: 95vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  text-align: center;
}

/* End of signup page */

/* Support page */
.formBody {
  width: 80%;
  margin: 3% auto;
  height: 95vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}
/* End of support page */



 .leftColumn {
   width: 20%;
   background-color: #36393f;
   float: left;
   height: 100%;
 }

.middleColumn {
  width: 60%;
  float: left;
  text-align: center;
}

 .rightColumn {
  width: 20%;
  background-color: #36393f;
  float: right;
  height: 100%;
}

