:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body{
  font-family: "sans-serif";
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.header {
  height: 140px;
  background-color: #232528;
}

.navbar {
  padding: 2%;
}

.footer {
  height: 120px;
  background-color: #232528;
}

.navbar-logo {
  height: 80px;
  width: 100px;
  float: left;
}

.creditLink {
  color: #ffa400;
}

.nav-item {
float: left;
}

.featureImage {
  width: 100%;
  height: auto;
 }

 .gridContainer {
   height: 400px;
 }

 .listColumn {
   width: 20%;
   background-color: #36393f;
   float: left;
   color: var(--mainWhite);
   text-align: center;
   height: 100%;
 }

 .contentColumn {
  width: 80%;
  text-align: center;
  float: right;
  background-color: var(--mainWhite);
 }

 .container {
   height: 800px;
 }

 .leftColumn {
   width: 20%;
   background-color: #36393f;
   float: left;
   height: 100%;
 }

.middleColumn {
  width: 60%;
  float: left;
  text-align: center;
}
 .rightColumn {
  width: 20%;
  background-color: #36393f;
  float: right;
  height: 100%;
}


