:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body{
  font-family: "sans-serif";
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.header {
  height: 120px;
  background-color: #232528;
}

.navbar {
  padding: 2%;
}

.body {
  height: 700px;
}

.footer {
  height: 120px;
  background-color: #232528;
}

.navbar-logo {
  height: 80px;
  width: 100px;
  float: left;
}

.creditLink {
  color: #ffa400;
}

.nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-item {
float: left;
}